<h1>Edit Project </h1>
<%= form_for @project do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>
   <p>Team members on the project</p>
   <%= f.collection_check_boxes :user_ids, User.all, :id, :name %>
   <p>Tasks</p>

   <%= f.fields_for :tasks do |task| %>
    <li><%= task.text_field :content %>
    </li><br>
    <% end %>
<%= f.submit %>
<% end %><br><br>


<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Logout'>
<% end %>

<%= form_tag ({controller: 'users', action: 'home', method: 'get'}) do %>
  <input type=submit value='Home'>
<% end %>