<%= @project.name %>
<ul> 
<p>Teammates on this project</p>
<% @project.users.each do |user| %>
<% binding.pry %>
<li><%= user.name %> <%= '(project creator)' if UserProject.find_by(user_id: user.id, project_id: @project.id).project_creator == true %>  </li>
<% end %>
<p>Tasks To Do</p>
<% @project.tasks.not_completed.each do |task| %>
<li><%= task.content %>

<%= form_for task, :url => task_complete_path(task), :method => 'get' do |f| %>
    <%= f.hidden_field :id %>
    <%= f.submit value='Completed' %>
<% end %></li>

<% end %><br>

<% if @project.tasks.completed.empty? == false %>
<p>Tasks Completed</p>
<% @project.tasks.completed.each do |task| %>
  <li><%= task.content %>
<% end %><br><br>
<% end %>

<p><%= link_to "Edit Project", edit_project_path(@project) %></p>

<p><%= link_to "Add Another Task", new_project_task_path(@project) %></p>